{
  "openapi": "3.1.0",
  "info": {
    "title": "Agora Conversational AI API",
    "version": "3.0.0",
    "description": "Complete machine-readable contract for the v3 Conversational AI API. Guide prose remains in the documentation site."
  },
  "servers": [
    {
      "url": "https://preview.ai.agora.io/conversational-ai",
      "description": "Agora Conversational AI API"
    }
  ],
  "tags": [
    {
      "name": "agents"
    },
    {
      "name": "campaigns"
    },
    {
      "name": "numbers"
    },
    {
      "name": "sessions"
    },
    {
      "name": "secrets"
    }
  ],
  "paths": {
    "/v3/projects/{appid}/agents": {
      "post": {
        "operationId": "post_agents",
        "summary": "Create an agent",
        "description": "Define a reusable agent.",
        "tags": [
          "agents"
        ],
        "parameters": [
          {
            "name": "appid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "App ID of the Agora project."
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "headers": {
              "Agora-Request-Id": {
                "$ref": "#/components/headers/AgoraRequestId"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "ETag": {
                "$ref": "#/components/headers/ETag"
              },
              "Location": {
                "$ref": "#/components/headers/Location"
              },
              "Idempotent-Replayed": {
                "$ref": "#/components/headers/IdempotentReplayed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agent"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-docs-source": "content/docs/api-reference/agents/create.mdx",
        "x-docs-success-status": "201",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentCreateInput"
              }
            }
          }
        }
      },
      "get": {
        "operationId": "get_agents",
        "summary": "List agents",
        "description": "Page through your agents.",
        "tags": [
          "agents"
        ],
        "parameters": [
          {
            "name": "appid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "App ID of the Agora project."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Page size, max 200.",
              "default": 50,
              "maximum": 200
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Opaque cursor from a previous page's next_cursor."
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "created_at.desc",
                "created_at.asc"
              ],
              "description": "Sort order.",
              "default": "created_at.desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "Agora-Request-Id": {
                "$ref": "#/components/headers/AgoraRequestId"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "ETag": {
                "$ref": "#/components/headers/ETag"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Agent"
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "next_cursor": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "has_more",
                    "next_cursor"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-docs-source": "content/docs/api-reference/agents/list.mdx",
        "x-docs-success-status": "200"
      }
    },
    "/v3/projects/{appid}/agents/{id}": {
      "delete": {
        "operationId": "delete_agents_id",
        "summary": "Delete an agent",
        "description": "Remove a saved agent.",
        "tags": [
          "agents"
        ],
        "parameters": [
          {
            "name": "appid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "App ID of the Agora project."
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "headers": {
              "Agora-Request-Id": {
                "$ref": "#/components/headers/AgoraRequestId"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-docs-source": "content/docs/api-reference/agents/delete.mdx",
        "x-docs-success-status": "204"
      },
      "get": {
        "operationId": "get_agents_id",
        "summary": "Retrieve an agent",
        "description": "Fetch an agent's configuration, with an ETag for updates.",
        "tags": [
          "agents"
        ],
        "parameters": [
          {
            "name": "appid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "App ID of the Agora project."
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "Agora-Request-Id": {
                "$ref": "#/components/headers/AgoraRequestId"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "ETag": {
                "$ref": "#/components/headers/ETag"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agent"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-docs-source": "content/docs/api-reference/agents/retrieve.mdx",
        "x-docs-success-status": "200"
      },
      "patch": {
        "operationId": "patch_agents_id",
        "summary": "Update an agent",
        "description": "Update an agent with JSON Merge Patch.",
        "tags": [
          "agents"
        ],
        "parameters": [
          {
            "name": "appid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "App ID of the Agora project."
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/IfMatch"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "Agora-Request-Id": {
                "$ref": "#/components/headers/AgoraRequestId"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "ETag": {
                "$ref": "#/components/headers/ETag"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agent"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-docs-source": "content/docs/api-reference/agents/update.mdx",
        "x-docs-success-status": "200",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentPatch"
              }
            }
          }
        }
      }
    },
    "/v3/projects/{appid}/campaigns/{id}:cancel": {
      "post": {
        "operationId": "post_campaigns_id_cancel",
        "summary": "Cancel a campaign",
        "description": "End a campaign for good; pending contacts are never dialed.",
        "tags": [
          "campaigns"
        ],
        "parameters": [
          {
            "name": "appid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "App ID of the Agora project."
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "Agora-Request-Id": {
                "$ref": "#/components/headers/AgoraRequestId"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "ETag": {
                "$ref": "#/components/headers/ETag"
              },
              "Idempotent-Replayed": {
                "$ref": "#/components/headers/IdempotentReplayed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Campaign"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-docs-source": "content/docs/api-reference/campaigns/cancel.mdx",
        "x-docs-success-status": "200"
      }
    },
    "/v3/projects/{appid}/campaigns": {
      "post": {
        "operationId": "post_campaigns",
        "summary": "Create a campaign",
        "description": "Configure outbound calling batches with pacing and retries.",
        "tags": [
          "campaigns"
        ],
        "parameters": [
          {
            "name": "appid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "App ID of the Agora project."
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "headers": {
              "Agora-Request-Id": {
                "$ref": "#/components/headers/AgoraRequestId"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "ETag": {
                "$ref": "#/components/headers/ETag"
              },
              "Location": {
                "$ref": "#/components/headers/Location"
              },
              "Idempotent-Replayed": {
                "$ref": "#/components/headers/IdempotentReplayed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Campaign"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-docs-source": "content/docs/api-reference/campaigns/create.mdx",
        "x-docs-success-status": "201",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Human label."
                  },
                  "agent_id": {
                    "type": "string",
                    "pattern": "^agent_"
                  },
                  "transport": {
                    "$ref": "#/components/schemas/CampaignTransport"
                  },
                  "contacts": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ContactInput"
                    },
                    "minItems": 1
                  },
                  "lifecycle": {
                    "$ref": "#/components/schemas/Lifecycle"
                  },
                  "pacing": {
                    "$ref": "#/components/schemas/Pacing"
                  },
                  "schedule": {
                    "$ref": "#/components/schemas/CampaignSchedule"
                  }
                },
                "additionalProperties": false,
                "required": [
                  "name",
                  "agent_id",
                  "transport",
                  "contacts",
                  "schedule"
                ]
              }
            }
          }
        }
      },
      "get": {
        "operationId": "get_campaigns",
        "summary": "List campaigns",
        "description": "List campaigns, filterable by status.",
        "tags": [
          "campaigns"
        ],
        "parameters": [
          {
            "name": "appid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "App ID of the Agora project."
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "scheduled",
                "running",
                "paused",
                "completed",
                "canceled",
                "failed"
              ],
              "description": "Only campaigns in this status."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Page size, max 200.",
              "default": 50,
              "maximum": 200
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Opaque cursor from a previous page's next_cursor."
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "created_at.desc",
                "created_at.asc"
              ],
              "description": "Sort by creation time, newest first by default.",
              "default": "created_at.desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "Agora-Request-Id": {
                "$ref": "#/components/headers/AgoraRequestId"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "ETag": {
                "$ref": "#/components/headers/ETag"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Campaign"
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "next_cursor": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "has_more",
                    "next_cursor"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-docs-source": "content/docs/api-reference/campaigns/list.mdx",
        "x-docs-success-status": "200"
      }
    },
    "/v3/projects/{appid}/campaigns/{id}": {
      "delete": {
        "operationId": "delete_campaigns_id",
        "summary": "Delete a campaign",
        "description": "Remove a finished campaign and its contacts.",
        "tags": [
          "campaigns"
        ],
        "parameters": [
          {
            "name": "appid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "App ID of the Agora project."
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "headers": {
              "Agora-Request-Id": {
                "$ref": "#/components/headers/AgoraRequestId"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-docs-source": "content/docs/api-reference/campaigns/delete.mdx",
        "x-docs-success-status": "204"
      },
      "get": {
        "operationId": "get_campaigns_id",
        "summary": "Retrieve a campaign",
        "description": "Fetch one campaign with live progress counts.",
        "tags": [
          "campaigns"
        ],
        "parameters": [
          {
            "name": "appid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "App ID of the Agora project."
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "Agora-Request-Id": {
                "$ref": "#/components/headers/AgoraRequestId"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "ETag": {
                "$ref": "#/components/headers/ETag"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Campaign"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-docs-source": "content/docs/api-reference/campaigns/retrieve.mdx",
        "x-docs-success-status": "200"
      },
      "patch": {
        "operationId": "patch_campaigns_id",
        "summary": "Update a campaign",
        "description": "Adjust pacing, scheduling, or call policy.",
        "tags": [
          "campaigns"
        ],
        "parameters": [
          {
            "name": "appid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "App ID of the Agora project."
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/IfMatch"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "Agora-Request-Id": {
                "$ref": "#/components/headers/AgoraRequestId"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "ETag": {
                "$ref": "#/components/headers/ETag"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Campaign"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-docs-source": "content/docs/api-reference/campaigns/update.mdx",
        "x-docs-success-status": "200",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CampaignPatch"
              }
            }
          }
        }
      }
    },
    "/v3/projects/{appid}/campaigns/{id}:pause": {
      "post": {
        "operationId": "post_campaigns_id_pause",
        "summary": "Pause a campaign",
        "description": "Stop new dials while in-flight calls finish.",
        "tags": [
          "campaigns"
        ],
        "parameters": [
          {
            "name": "appid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "App ID of the Agora project."
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "Agora-Request-Id": {
                "$ref": "#/components/headers/AgoraRequestId"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "ETag": {
                "$ref": "#/components/headers/ETag"
              },
              "Idempotent-Replayed": {
                "$ref": "#/components/headers/IdempotentReplayed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Campaign"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-docs-source": "content/docs/api-reference/campaigns/pause.mdx",
        "x-docs-success-status": "200"
      }
    },
    "/v3/projects/{appid}/campaigns/{id}:resume": {
      "post": {
        "operationId": "post_campaigns_id_resume",
        "summary": "Resume a campaign",
        "description": "Continue dialing a paused campaign.",
        "tags": [
          "campaigns"
        ],
        "parameters": [
          {
            "name": "appid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "App ID of the Agora project."
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "Agora-Request-Id": {
                "$ref": "#/components/headers/AgoraRequestId"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "ETag": {
                "$ref": "#/components/headers/ETag"
              },
              "Idempotent-Replayed": {
                "$ref": "#/components/headers/IdempotentReplayed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Campaign"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-docs-source": "content/docs/api-reference/campaigns/resume.mdx",
        "x-docs-success-status": "200"
      }
    },
    "/v3/projects/{appid}/numbers": {
      "post": {
        "operationId": "post_numbers",
        "summary": "Create a number",
        "description": "Configure a phone number, its SIP connection, and inbound routing.",
        "tags": [
          "numbers"
        ],
        "parameters": [
          {
            "name": "appid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "App ID of the Agora project."
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "headers": {
              "Agora-Request-Id": {
                "$ref": "#/components/headers/AgoraRequestId"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "ETag": {
                "$ref": "#/components/headers/ETag"
              },
              "Location": {
                "$ref": "#/components/headers/Location"
              },
              "Idempotent-Replayed": {
                "$ref": "#/components/headers/IdempotentReplayed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Number"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-docs-source": "content/docs/api-reference/numbers/create.mdx",
        "x-docs-success-status": "201",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NumberCreate"
              }
            }
          }
        }
      },
      "get": {
        "operationId": "get_numbers",
        "summary": "List numbers",
        "description": "List the phone numbers configured for your project.",
        "tags": [
          "numbers"
        ],
        "parameters": [
          {
            "name": "appid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "App ID of the Agora project."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Maximum number of results to return, from 1 to 100.",
              "default": 50,
              "maximum": 100
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Opaque cursor from a previous page's next_cursor."
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "created_at.desc",
                "created_at.asc"
              ],
              "description": "Sort by creation time, newest first by default.",
              "default": "created_at.desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "Agora-Request-Id": {
                "$ref": "#/components/headers/AgoraRequestId"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "ETag": {
                "$ref": "#/components/headers/ETag"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Number"
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "next_cursor": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "has_more",
                    "next_cursor"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-docs-source": "content/docs/api-reference/numbers/list.mdx",
        "x-docs-success-status": "200"
      }
    },
    "/v3/projects/{appid}/numbers/{id}": {
      "delete": {
        "operationId": "delete_numbers_id",
        "summary": "Delete a number",
        "description": "Remove a phone number and its inline SIP configuration.",
        "tags": [
          "numbers"
        ],
        "parameters": [
          {
            "name": "appid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "App ID of the Agora project."
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "headers": {
              "Agora-Request-Id": {
                "$ref": "#/components/headers/AgoraRequestId"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-docs-source": "content/docs/api-reference/numbers/delete.mdx",
        "x-docs-success-status": "204"
      },
      "get": {
        "operationId": "get_numbers_id",
        "summary": "Retrieve a number",
        "description": "Get a number and its current SIP and inbound configuration.",
        "tags": [
          "numbers"
        ],
        "parameters": [
          {
            "name": "appid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "App ID of the Agora project."
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "Agora-Request-Id": {
                "$ref": "#/components/headers/AgoraRequestId"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "ETag": {
                "$ref": "#/components/headers/ETag"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Number"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-docs-source": "content/docs/api-reference/numbers/retrieve.mdx",
        "x-docs-success-status": "200"
      },
      "patch": {
        "operationId": "patch_numbers_id",
        "summary": "Update a number",
        "description": "Change a number's SIP connection or inbound routing.",
        "tags": [
          "numbers"
        ],
        "parameters": [
          {
            "name": "appid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "App ID of the Agora project."
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/IfMatch"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "Agora-Request-Id": {
                "$ref": "#/components/headers/AgoraRequestId"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "ETag": {
                "$ref": "#/components/headers/ETag"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Number"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-docs-source": "content/docs/api-reference/numbers/update.mdx",
        "x-docs-success-status": "200",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NumberPatch"
              }
            }
          }
        }
      }
    },
    "/v3/projects/{appid}/secrets": {
      "post": {
        "operationId": "post_secrets",
        "summary": "Create a secret set",
        "description": "Store a named set of write-only secrets for reuse across agents.",
        "tags": [
          "secrets"
        ],
        "parameters": [
          {
            "name": "appid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "App ID of the Agora project."
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "headers": {
              "Agora-Request-Id": {
                "$ref": "#/components/headers/AgoraRequestId"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "ETag": {
                "$ref": "#/components/headers/ETag"
              },
              "Location": {
                "$ref": "#/components/headers/Location"
              },
              "Idempotent-Replayed": {
                "$ref": "#/components/headers/IdempotentReplayed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SecretSet"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-docs-source": "content/docs/api-reference/secrets/create.mdx",
        "x-docs-success-status": "201",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SecretsCreate"
              }
            }
          }
        }
      },
      "get": {
        "operationId": "get_secrets",
        "summary": "List secret sets",
        "description": "List named sets and their key names, never secret values.",
        "tags": [
          "secrets"
        ],
        "parameters": [
          {
            "name": "appid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "App ID of the Agora project."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Page size, max 200.",
              "default": 50,
              "maximum": 200
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Opaque cursor from a previous page's next_cursor."
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "created_at.desc",
                "created_at.asc"
              ],
              "description": "Sort by creation time, newest first by default.",
              "default": "created_at.desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "Agora-Request-Id": {
                "$ref": "#/components/headers/AgoraRequestId"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "ETag": {
                "$ref": "#/components/headers/ETag"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SecretsList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-docs-source": "content/docs/api-reference/secrets/list.mdx",
        "x-docs-success-status": "200"
      }
    },
    "/v3/projects/{appid}/secrets/{name}": {
      "delete": {
        "operationId": "delete_secrets_name",
        "summary": "Delete a secret set",
        "description": "Delete an unreferenced set and all of its values.",
        "tags": [
          "secrets"
        ],
        "parameters": [
          {
            "name": "appid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "App ID of the Agora project."
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]{1,64}$"
            }
          },
          {
            "$ref": "#/components/parameters/IfMatch"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "headers": {
              "Agora-Request-Id": {
                "$ref": "#/components/headers/AgoraRequestId"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-docs-source": "content/docs/api-reference/secrets/delete.mdx",
        "x-docs-success-status": "204"
      },
      "put": {
        "operationId": "put_secrets_name",
        "summary": "Replace a secret set",
        "description": "Rotate a named set atomically without changing agent references.",
        "tags": [
          "secrets"
        ],
        "parameters": [
          {
            "name": "appid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "App ID of the Agora project."
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]{1,64}$"
            }
          },
          {
            "$ref": "#/components/parameters/IfMatch"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "Agora-Request-Id": {
                "$ref": "#/components/headers/AgoraRequestId"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "ETag": {
                "$ref": "#/components/headers/ETag"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SecretSet"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-docs-source": "content/docs/api-reference/secrets/replace.mdx",
        "x-docs-success-status": "200",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SecretsReplace"
              }
            }
          }
        }
      },
      "get": {
        "operationId": "get_secrets_name",
        "summary": "Retrieve a secret set",
        "description": "Read secret-set metadata without exposing values.",
        "tags": [
          "secrets"
        ],
        "parameters": [
          {
            "name": "appid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "App ID of the Agora project."
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]{1,64}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "Agora-Request-Id": {
                "$ref": "#/components/headers/AgoraRequestId"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "ETag": {
                "$ref": "#/components/headers/ETag"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SecretSet"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-docs-source": "content/docs/api-reference/secrets/retrieve.mdx",
        "x-docs-success-status": "200"
      }
    },
    "/v3/projects/{appid}/sessions/ephemeral": {
      "post": {
        "operationId": "post_sessions_ephemeral",
        "summary": "Start an ephemeral session",
        "description": "Start a session with an inline agent configuration that is not saved.",
        "tags": [
          "sessions"
        ],
        "parameters": [
          {
            "name": "appid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "App ID of the Agora project."
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "headers": {
              "Agora-Request-Id": {
                "$ref": "#/components/headers/AgoraRequestId"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "Location": {
                "$ref": "#/components/headers/Location"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionStartResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SessionBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/SessionUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/SessionForbidden"
          },
          "404": {
            "$ref": "#/components/responses/SessionNotFound"
          },
          "409": {
            "$ref": "#/components/responses/SessionConflict"
          },
          "422": {
            "$ref": "#/components/responses/SessionUnprocessable"
          },
          "429": {
            "$ref": "#/components/responses/SessionRateLimited"
          },
          "500": {
            "$ref": "#/components/responses/SessionInternalError"
          },
          "502": {
            "$ref": "#/components/responses/SessionBadGateway"
          },
          "503": {
            "$ref": "#/components/responses/SessionUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/SessionTimeout"
          }
        },
        "x-docs-source": "content/docs/api-reference/sessions/create-ephemeral.mdx",
        "x-docs-success-status": "201",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EphemeralSessionCreate"
              }
            }
          }
        }
      }
    },
    "/v3/projects/{appid}/sessions": {
      "post": {
        "operationId": "post_sessions",
        "summary": "Start a session",
        "description": "Start a session from a saved agent through an RTC or telephony transport.",
        "tags": [
          "sessions"
        ],
        "parameters": [
          {
            "name": "appid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "App ID of the Agora project."
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "headers": {
              "Agora-Request-Id": {
                "$ref": "#/components/headers/AgoraRequestId"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "Location": {
                "$ref": "#/components/headers/Location"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionStartResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SessionBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/SessionUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/SessionForbidden"
          },
          "404": {
            "$ref": "#/components/responses/SessionNotFound"
          },
          "409": {
            "$ref": "#/components/responses/SessionConflict"
          },
          "422": {
            "$ref": "#/components/responses/SessionUnprocessable"
          },
          "429": {
            "$ref": "#/components/responses/SessionRateLimited"
          },
          "500": {
            "$ref": "#/components/responses/SessionInternalError"
          },
          "502": {
            "$ref": "#/components/responses/SessionBadGateway"
          },
          "503": {
            "$ref": "#/components/responses/SessionUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/SessionTimeout"
          }
        },
        "x-docs-source": "content/docs/api-reference/sessions/create.mdx",
        "x-docs-success-status": "201",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SessionCreate"
              }
            }
          }
        }
      },
      "get": {
        "operationId": "get_sessions",
        "summary": "List sessions",
        "description": "List sessions that match a status and Unix-time range.",
        "tags": [
          "sessions"
        ],
        "parameters": [
          {
            "name": "appid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "App ID of the Agora project."
          },
          {
            "name": "channel",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Return only sessions in this RTC channel. Exact, case-sensitive match on transport.channel. Telephony sessions have no RTC channel and never match."
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Comma-separated session statuses: idle, starting, running, stopping, stopped, or failed. The default is running.",
              "default": "running"
            }
          },
          {
            "name": "started_after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Start of the query range as a Unix timestamp in seconds. Defaults to two hours before the request."
            }
          },
          {
            "name": "started_before",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "End of the query range as a Unix timestamp in seconds. Defaults to the current time."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Maximum number of sessions returned in one page.",
              "default": 20
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Opaque cursor returned as next_cursor by the previous page."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "Agora-Request-Id": {
                "$ref": "#/components/headers/AgoraRequestId"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SessionBadRequest"
          },
          "404": {
            "$ref": "#/components/responses/SessionNotFound"
          },
          "409": {
            "$ref": "#/components/responses/SessionConflict"
          },
          "429": {
            "$ref": "#/components/responses/SessionRateLimited"
          }
        },
        "x-docs-source": "content/docs/api-reference/sessions/list.mdx",
        "x-docs-success-status": "200"
      }
    },
    "/v3/projects/{appid}/sessions/{agent_session_id}/actions/inject": {
      "post": {
        "operationId": "post_sessions_id_actions_inject",
        "summary": "Inject context",
        "description": "Insert messages into the conversation context — silently, or as if the user said them.",
        "tags": [
          "sessions"
        ],
        "parameters": [
          {
            "name": "appid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "App ID of the Agora project."
          },
          {
            "name": "agent_session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "headers": {
              "Agora-Request-Id": {
                "$ref": "#/components/headers/AgoraRequestId"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "ETag": {
                "$ref": "#/components/headers/ETag"
              },
              "Idempotent-Replayed": {
                "$ref": "#/components/headers/IdempotentReplayed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionAcceptance"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-docs-source": "content/docs/api-reference/sessions/inject.mdx",
        "x-docs-success-status": "202",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InjectActionRequest"
              }
            }
          }
        }
      }
    },
    "/v3/projects/{appid}/sessions/{agent_session_id}/actions/interrupt": {
      "post": {
        "operationId": "post_sessions_id_actions_interrupt",
        "summary": "Interrupt the agent",
        "description": "Stop the agent mid-utterance.",
        "tags": [
          "sessions"
        ],
        "parameters": [
          {
            "name": "appid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "App ID of the Agora project."
          },
          {
            "name": "agent_session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "headers": {
              "Agora-Request-Id": {
                "$ref": "#/components/headers/AgoraRequestId"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "ETag": {
                "$ref": "#/components/headers/ETag"
              },
              "Idempotent-Replayed": {
                "$ref": "#/components/headers/IdempotentReplayed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionAcceptance"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-docs-source": "content/docs/api-reference/sessions/interrupt.mdx",
        "x-docs-success-status": "202",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InterruptActionRequest"
              }
            }
          }
        }
      }
    },
    "/v3/projects/{appid}/sessions/{agent_session_id}": {
      "get": {
        "operationId": "get_sessions_id",
        "summary": "Retrieve a session",
        "description": "Fetch the current status of a session by ID.",
        "tags": [
          "sessions"
        ],
        "parameters": [
          {
            "name": "appid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "App ID of the Agora project."
          },
          {
            "name": "agent_session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "Agora-Request-Id": {
                "$ref": "#/components/headers/AgoraRequestId"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Session"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SessionBadRequest"
          },
          "404": {
            "$ref": "#/components/responses/SessionNotFound"
          },
          "409": {
            "$ref": "#/components/responses/SessionConflict"
          },
          "429": {
            "$ref": "#/components/responses/SessionRateLimited"
          }
        },
        "x-docs-source": "content/docs/api-reference/sessions/retrieve.mdx",
        "x-docs-success-status": "200"
      },
      "patch": {
        "operationId": "patch_sessions_id",
        "summary": "Update a session",
        "description": "Update the runtime parameters supported by the v2 session API.",
        "tags": [
          "sessions"
        ],
        "parameters": [
          {
            "name": "appid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "App ID of the Agora project."
          },
          {
            "name": "agent_session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "headers": {
              "Agora-Request-Id": {
                "$ref": "#/components/headers/AgoraRequestId"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Session"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SessionBadRequest"
          },
          "404": {
            "$ref": "#/components/responses/SessionNotFound"
          },
          "409": {
            "$ref": "#/components/responses/SessionConflict"
          },
          "429": {
            "$ref": "#/components/responses/SessionRateLimited"
          }
        },
        "x-docs-source": "content/docs/api-reference/sessions/update.mdx",
        "x-docs-success-status": "201",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SessionPatch"
              }
            }
          }
        }
      }
    },
    "/v3/projects/{appid}/sessions/{agent_session_id}/actions/speak": {
      "post": {
        "operationId": "post_sessions_id_actions_speak",
        "summary": "Speak",
        "description": "Synthesize and play a line, or play a pre-recorded file.",
        "tags": [
          "sessions"
        ],
        "parameters": [
          {
            "name": "appid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "App ID of the Agora project."
          },
          {
            "name": "agent_session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "headers": {
              "Agora-Request-Id": {
                "$ref": "#/components/headers/AgoraRequestId"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "ETag": {
                "$ref": "#/components/headers/ETag"
              },
              "Idempotent-Replayed": {
                "$ref": "#/components/headers/IdempotentReplayed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionAcceptance"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-docs-source": "content/docs/api-reference/sessions/speak.mdx",
        "x-docs-success-status": "202",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SpeakActionRequest"
              }
            }
          }
        }
      }
    },
    "/v3/projects/{appid}/sessions/{agent_session_id}/stop": {
      "post": {
        "operationId": "post_sessions_id_stop",
        "summary": "Stop a session",
        "description": "Request that a running session stop asynchronously.",
        "tags": [
          "sessions"
        ],
        "parameters": [
          {
            "name": "appid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "App ID of the Agora project."
          },
          {
            "name": "agent_session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success with no response body.",
            "headers": {
              "Agora-Request-Id": {
                "$ref": "#/components/headers/AgoraRequestId"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SessionBadRequest"
          },
          "404": {
            "$ref": "#/components/responses/SessionNotFound"
          },
          "409": {
            "$ref": "#/components/responses/SessionConflict"
          },
          "429": {
            "$ref": "#/components/responses/SessionRateLimited"
          }
        },
        "x-docs-source": "content/docs/api-reference/sessions/stop.mdx",
        "x-docs-success-status": "201"
      }
    }
  },
  "components": {
    "parameters": {
      "IdempotencyKey": {
        "name": "Idempotency-Key",
        "in": "header",
        "required": false,
        "schema": {
          "type": "string"
        },
        "description": "Deduplicates POST requests for 24 hours. Pre-execution rejection permits a corrected same-key retry. Once accepted or execution is uncertain, the key remains bound; changed payloads and in-progress retries return 409 conflict without starting another operation."
      },
      "IfMatch": {
        "name": "If-Match",
        "in": "header",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "ETag required for concurrent updates."
      }
    },
    "headers": {
      "AgoraRequestId": {
        "schema": {
          "type": "string"
        },
        "description": "Request identifier for support."
      },
      "RateLimitLimit": {
        "schema": {
          "type": "integer"
        }
      },
      "RateLimitRemaining": {
        "schema": {
          "type": "integer"
        }
      },
      "RateLimitReset": {
        "schema": {
          "type": "integer"
        },
        "description": "Unix time when the window resets."
      },
      "ETag": {
        "schema": {
          "type": "string"
        },
        "description": "Current resource version."
      },
      "Location": {
        "schema": {
          "type": "string"
        },
        "description": "Created resource or replay observation URI."
      },
      "IdempotentReplayed": {
        "schema": {
          "type": "boolean"
        },
        "description": "True when the idempotency result was replayed."
      },
      "RetryAfter": {
        "schema": {
          "type": "integer",
          "minimum": 0
        },
        "description": "Non-negative number of seconds to wait before retrying."
      }
    },
    "schemas": {
      "Agent": {
        "type": "object",
        "properties": {
          "agent_name": {
            "type": "string"
          },
          "instructions": {
            "type": "string",
            "x-runtime-mutable": true
          },
          "messages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Message"
            },
            "x-runtime-mutable": true
          },
          "structured_output": {
            "$ref": "#/components/schemas/StructuredOutput"
          },
          "greeting": {
            "$ref": "#/components/schemas/Greeting"
          },
          "variables": {
            "$ref": "#/components/schemas/TemplateVariables",
            "x-runtime-mutable": true
          },
          "pipeline": {
            "$ref": "#/components/schemas/ResolvedPipeline"
          },
          "filler_words": {
            "$ref": "#/components/schemas/ResolvedFillerWords"
          },
          "labels": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "id": {
            "type": "string",
            "pattern": "^agent_"
          },
          "object": {
            "type": "string",
            "const": "agent"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "object",
          "created_at",
          "updated_at"
        ],
        "additionalProperties": false
      },
      "Message": {
        "type": "object",
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "system",
              "user",
              "assistant"
            ]
          },
          "content": {
            "type": "string"
          }
        },
        "required": [
          "role",
          "content"
        ],
        "additionalProperties": false
      },
      "StructuredOutput": {
        "type": "object",
        "properties": {
          "enable_structured_output": {
            "type": "boolean"
          },
          "call_success_evaluation": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/CallSuccessEvaluation"
              },
              {
                "type": "null"
              }
            ]
          },
          "custom_evaluations": {
            "anyOf": [
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CustomEvaluation"
                }
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "enable_structured_output"
        ],
        "additionalProperties": false
      },
      "CallSuccessEvaluation": {
        "type": "object",
        "properties": {
          "criteria": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "additionalProperties": false
      },
      "CustomEvaluation": {
        "type": "object",
        "properties": {
          "variable_name": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "string",
              "number",
              "boolean",
              "array"
            ]
          },
          "criteria": {
            "type": "string"
          },
          "enums": {
            "anyOf": [
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "variable_name",
          "type",
          "criteria"
        ],
        "additionalProperties": false
      },
      "Greeting": {
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "mode": {
                "type": "string",
                "const": "text"
              },
              "on": {
                "type": "string",
                "enum": [
                  "each_join",
                  "first_join"
                ]
              },
              "delay_ms": {
                "type": "integer",
                "minimum": 0,
                "maximum": 5000,
                "default": 0
              },
              "text": {
                "type": "string"
              }
            },
            "required": [
              "mode",
              "text"
            ],
            "additionalProperties": false
          },
          {
            "type": "object",
            "properties": {
              "mode": {
                "type": "string",
                "const": "audio"
              },
              "on": {
                "type": "string",
                "enum": [
                  "each_join",
                  "first_join"
                ]
              },
              "delay_ms": {
                "type": "integer",
                "minimum": 0,
                "maximum": 5000,
                "default": 0
              },
              "url": {
                "type": "string",
                "format": "uri",
                "maxLength": 2048
              },
              "text": {
                "type": "string",
                "minLength": 1
              },
              "download_timeout_ms": {
                "type": "integer",
                "minimum": 200,
                "maximum": 10000,
                "default": 1000
              },
              "pcm_sample_rate": {
                "type": "integer",
                "minimum": 1,
                "default": 16000
              }
            },
            "required": [
              "mode",
              "url",
              "text"
            ],
            "additionalProperties": false
          }
        ],
        "discriminator": {
          "propertyName": "mode"
        }
      },
      "TemplateVariables": {
        "type": "object",
        "additionalProperties": {
          "type": [
            "string",
            "number",
            "boolean"
          ]
        }
      },
      "ResolvedPipeline": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/ResolvedCascadedPipeline"
          },
          {
            "$ref": "#/components/schemas/ResolvedRealtimePipeline"
          }
        ],
        "discriminator": {
          "propertyName": "mode"
        }
      },
      "ResolvedCascadedPipeline": {
        "type": "object",
        "properties": {
          "mode": {
            "type": "string",
            "const": "cascaded"
          },
          "avatar": {
            "$ref": "#/components/schemas/ResolvedAvatar"
          },
          "turn_detection": {
            "$ref": "#/components/schemas/TurnDetection"
          },
          "asr": {
            "$ref": "#/components/schemas/ResolvedAsr"
          },
          "llm": {
            "$ref": "#/components/schemas/ResolvedLlm"
          },
          "tts": {
            "$ref": "#/components/schemas/ResolvedTts"
          },
          "silence_config": {
            "$ref": "#/components/schemas/SilenceConfig"
          }
        },
        "required": [
          "mode"
        ],
        "additionalProperties": false
      },
      "ResolvedAvatar": {
        "type": "object",
        "properties": {
          "enabled": {
            "type": "boolean",
            "default": false
          },
          "credential": {
            "$ref": "#/components/schemas/ResolvedModelCredential"
          },
          "vendor": {
            "type": "string",
            "enum": [
              "akool",
              "liveavatar",
              "anam",
              "generic"
            ]
          },
          "params": {
            "type": "object",
            "additionalProperties": true,
            "description": "Set credential.mode to byok and provide credential.api_key to use customer-supplied authentication, or set it to managed to use authentication provisioned by Agora. Keep non-secret provider settings in params. This rule applies independently to ASR, LLM, TTS, avatar, and realtime MLLM modules."
          }
        },
        "additionalProperties": false,
        "description": "Set credential.mode to byok and provide credential.api_key to use customer-supplied authentication, or set it to managed to use authentication provisioned by Agora. Keep non-secret provider settings in params. This rule applies independently to ASR, LLM, TTS, avatar, and realtime MLLM modules."
      },
      "ResolvedModelCredential": {
        "type": "object",
        "properties": {
          "mode": {
            "type": "string",
            "enum": [
              "byok",
              "managed"
            ]
          }
        },
        "required": [
          "mode"
        ],
        "additionalProperties": false,
        "description": "Resolved provider-authentication mode. Secret material is never returned."
      },
      "TurnDetection": {
        "type": "object",
        "properties": {
          "speech_threshold": {
            "type": "number",
            "exclusiveMinimum": 0,
            "exclusiveMaximum": 1,
            "default": 0.5
          },
          "start_of_speech": {
            "$ref": "#/components/schemas/TurnStart"
          },
          "end_of_speech": {
            "$ref": "#/components/schemas/TurnEnd"
          },
          "interruption": {
            "$ref": "#/components/schemas/Interruption"
          }
        },
        "additionalProperties": false
      },
      "TurnStart": {
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "const": "semantic",
                "default": "semantic"
              },
              "speaking_interrupt_duration_ms": {
                "type": "integer",
                "default": 160
              }
            },
            "required": [
              "type"
            ],
            "additionalProperties": false
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "const": "vad"
              },
              "interrupt_duration_ms": {
                "type": "integer",
                "default": 160
              },
              "speaking_interrupt_duration_ms": {
                "type": "integer",
                "default": 160
              },
              "prefix_padding_ms": {
                "type": "integer",
                "default": 800
              }
            },
            "required": [
              "type"
            ],
            "additionalProperties": false
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "const": "manual"
              }
            },
            "required": [
              "type"
            ],
            "additionalProperties": false
          }
        ],
        "discriminator": {
          "propertyName": "type"
        }
      },
      "TurnEnd": {
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "const": "semantic",
                "default": "semantic"
              },
              "silence_duration_ms": {
                "type": "integer",
                "minimum": 120,
                "maximum": 2000,
                "default": 320
              },
              "max_wait_ms": {
                "type": "integer",
                "minimum": 500,
                "maximum": 10000,
                "default": 3000
              },
              "pause_state_enabled": {
                "type": "boolean",
                "default": true
              }
            },
            "required": [
              "type"
            ],
            "additionalProperties": false
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "const": "vad"
              },
              "silence_duration_ms": {
                "type": "integer",
                "minimum": 120,
                "maximum": 2000,
                "default": 640
              }
            },
            "required": [
              "type"
            ],
            "additionalProperties": false
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "const": "manual"
              }
            },
            "required": [
              "type"
            ],
            "additionalProperties": false
          }
        ],
        "discriminator": {
          "propertyName": "type"
        }
      },
      "Interruption": {
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "mode": {
                "type": "string",
                "const": "start_of_speech"
              }
            },
            "required": [
              "mode"
            ],
            "additionalProperties": false
          },
          {
            "type": "object",
            "properties": {
              "mode": {
                "type": "string",
                "const": "keywords"
              },
              "keywords": {
                "type": "array",
                "items": {
                  "type": "string",
                  "minLength": 1
                },
                "minItems": 1,
                "maxItems": 128
              }
            },
            "required": [
              "mode",
              "keywords"
            ],
            "additionalProperties": false
          },
          {
            "type": "object",
            "properties": {
              "mode": {
                "type": "string",
                "const": "off"
              },
              "when_off": {
                "type": "string",
                "enum": [
                  "append",
                  "ignore"
                ],
                "default": "append"
              }
            },
            "required": [
              "mode"
            ],
            "additionalProperties": false
          }
        ],
        "discriminator": {
          "propertyName": "mode"
        },
        "default": {
          "mode": "start_of_speech"
        }
      },
[...]
